#availableCars, #allCarsId, #myCars {
    margin-left: auto;
    margin-right: auto;
}
nav.mdl-navigation {
    cursor: pointer;
}
button {
    cursor:pointer;
}
h3 {
    text-align: center;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
#currency, select#currencyMyCars,
select#currencyAllCars, select#currencyAvailableCars {
    margin-top: 1rem;
}
select#currencyMyCars {
    margin-left: 4rem;
}
select#currencyAllCars {
    margin-right: 1rem;
}
select#currencyAvailableCars {
    margin-left: 3rem;
}
table#availableCars, table#allCarsId, table#myCars {
    margin-bottom: 3rem;
    width: 80%;
}
.rentCarBtns, .giveCarBackBtns {
    box-shadow:inset 0px 1px 0px 0px #4e66e1;
    background-color:#3F51B5FF;
    border-radius:6px;
    border:1px solid #26317a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4e66e1;
}
.rentCarBtns:hover, .giveCarBackBtns:hover {
    background-color:#4e66e1;
}
.rentCarBtns:active, .giveCarBackBtns:active {
    position:relative;
    top:1px;
}
tr:not(:first-child) {
    line-height: 9rem;
}
td {
    text-align:left!important;
}