body {
    text-align: center;
}
.display {
    display: block;
}

.notdisplay {
    display: none;
}

input[type="button"] {
    cursor: pointer;
}

div {
    margin: 2rem;
    text-align: center;
}
